/* основа */
body{
    background: url(../img/pole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



/* общие параметры кнопок */
main button:hover, main a:hover{
    color: rgb(0, 123, 217);
    text-decoration: none;
    transform: scale(1.1);
    transition: transform .6s ease;
}
main button:active, main a:active, main h1:active{
    background-color: blue;
}
main a{
    text-decoration: none;
    font-size: 150%;
    color: rgb(0, 0, 0);
}
main i{
    margin-left: 5px;
    font-size: 18px;
}



/* главная */
main .hd{
    width: 100%;
    height: 40%;
    padding: 2.5%;
}
main .hd span{
    font-size: 2.7em;
    font-style: oblique;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}
main .hd button{
    display: block;
    float: right;
    margin-left: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
    padding: 5px 8px;
    font-weight: bold;
}
main .glav {
    float: center;
    width: 100%;
    height: 100%;
    color:black;
    margin-top: 200px;
    text-align: center;
}
main .glav button{
    display: inline-block;
    border: none;
    background-color: rgb(109, 250, 102);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px;
    font-weight: bold;
}
main .glav p{
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
main .glav span {
    font-size: 280%;
    font-weight: bold;
}



/* голова для кнопки "на главную" */
main .hdSV{
    width: 100%;
    height: 30%;
    padding: 2.5%;
}



/* лого */
main .hdSV span{
    font-size: 2.7em;
    font-style: oblique;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: left;
}




/* кнопка на главную */
main .hdSV button{
    display: block;
    float: right;
    border-radius: 7px;
    cursor: pointer;
    padding: 5px 8px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
main .hdSV i{
    margin-right: 5px;
}



/* связь */
main .glavsv p{
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
main .glavsv button{
    display: inline-block;
    border: none;
    background-color: rgba(255, 255, 255, 0.481);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}
main .glavsv {
    float: center;
    width: 100%;
    height: 100%;
    color:black;
    margin-top: 80px;
    text-align: center;
}
main .glavsv span{
    font-size: 200%;
    font-weight: bold;
}
main .glavsv i{
    font-size: 700%;

}



/* о нас */
main .glavonas p{
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: left;
    margin-left: 50px;

}
main .glavonas {
    float: center;
    width: 100%;
    height: 100%;
    color:black;
    margin-top: 80px;
    text-align: center;
}
main .glavonas i{
    font-size: 800%;

}



/* карта */
main .glavcart p{
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
}
main .glavcart{
    float: center;
    width: 100%;
    height: 100%;
    color:black;
    margin-top: 0px;
    text-align: center;

}
main .glavcart a{
    font-size: 3em;
    text-align: center;
}
main .glavcart i{
    font-size: 420%;
    text-align: center;
}
main .glavcart button{
    display: inline-block;
    margin-top: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
    padding: 5px 8px;
    font-weight: bold;
    margin-bottom: 60px;
}
main .glavcart button i{
    font-size: 20px;
}



/* результат */
main .glavres p{
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
}
main .glavres{
    float: center;
    width: 100%;
    height: 100%;
    color:black;
    margin-top: 20px;
    text-align: center;
}
main .glavres i{
    font-size: 700%;
    text-align: center;
}
