{% extends "main1/layout.html" %}

{% block title %}О нас{% endblock %}

{% block body1 %}
<div class='hdSV'>
    <span>APL</span>
    <button><a href="/apl"><i class="fi fi-br-home"></i> На главную страницу</a></button>
</div>
<div class='glavonas'>
    <i class="fi fi-br-users-alt"></i>
    <p>Мы команда разработчиков из Москвы.<br>
        Наш главная задача помочь вам в ознакомление с земельным участком, который вы хотите купить, посмот-
        треть, а может вы уже живете на нем.<br>
        <br>
        Вскоре тут будет больше информации.<br></p>
</div>
{% endblock %}