{% extends "main1/layout.html" %}

{% block title %}Главная{% endblock %}

{% block body1 %}
    <div class="hd">
        <button class="btnsv"><a href="onas">О нас <i class="fi fi-br-eye"></i></a></button>
        <button class="btnonas"><a href="sv">Написать нам<i class="fi fi-br-comment-alt"></i></a></button>
    </div>
    <div class="glav">
        <p>Приветствуем на нашем сайте</p>
        <button class="btncarta"><a href="carta"><h1>Поиск</h1></a></button>
    </div>
{% endblock %}