{% extends "main1/layout.html" %}

{% block title %}Главная{% endblock %}

{% block body1 %}
    <div class="hd">
        <span>APL</span>
        <button class="btnsv"><a href="about">О нас<i class="fi fi-br-eye"></i></a></button>
        <button class="btnonas"><a href="communication">Написать нам<i class="fi fi-br-comment-alt"></i></a></button>
    </div>
    <div class="glav">
        <p>Добро пожаловать на наш сайт!</p>
        <button><a href="map"><span>Поиск</span></a></button>
    </div>
{% endblock %}