{% extends "main1/layout.html" %}

{% block title %}Карта{% endblock %}

{% block body1 %}
<div class='hdSV'>
    <span>APL</span>
    <button><a href="/apl"> <i class="fi fi-br-home"></i> На главную страницу</a></button>
</div>
<div class='glavcart'>
    <i class="fi fi-br-marker"></i>
    <p>Отметьте ваше место</p>
    

    <div id="myMap" style="width: 95%; height: 600px; margin-left:40px; margin-right: 40px;"></div>
    <script type="text/javascript">
        ymaps.ready(init)
        function init(){
            var myMap = new ymaps.Map ('myMap', {
                center: [55.76,37.64],
                zoom: 12,
                type: "yandex#hybrid"
            });
        }
    </script>

    <button><a href="/apl/map/result/">Далее<i class="fi fi-br-arrow-right" style="font-size: 100%;"></i></a></button>
</div>
{% endblock %}