<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>О НАС</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative">
        <img style="width: 1440px; height: 1024px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1440x1024" />
        <div style="left: 45px; top: 427px; position: absolute; color: black; font-size: 24px; font-family: Instrument Sans; font-weight: 600; word-wrap: break-word">Мы команда разработчиков из Москвы.<br/>Наш главная задача помочь вам в ознакомление с земельным участком, который вы хотите купить, посмот-<br/>треть, а может вы уже живете на нем.<br/><br/>Вскоре тут будет больше информации.</div>
        <img style="width: 196px; height: 196px; left: 622px; top: 153px; position: absolute; opacity: 0.60" src="https://via.placeholder.com/196x196" />
        <div style="width: 234px; height: 53px; left: 82px; top: 44px; position: absolute">
            <div style="width: 168px; height: 53px; padding: 12px; left: 0px; top: 0px; position: absolute; background: #D9E3E5; border-radius: 20px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                <div style="text-align: center; color: black; font-size: 24px; font-family: Instrument Sans; font-weight: 600; word-wrap: break-word">На главную</div>
            </div>
            <img style="width: 53px; height: 53px; left: 181px; top: 0px; position: absolute" src="https://via.placeholder.com/53x53" />
        </div>
    </div>
</body>
</html>