<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>РЕЗУЛЬТАТ</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative">
        <div style="width: 1440px; height: 1024px; left: 0px; top: 0px; position: absolute">
            <img style="width: 1440px; height: 1024px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1440x1024" />
            <div style="width: 717px; height: 63px; padding: 12px; left: 361px; top: 331px; position: absolute; background: #D9E3E5; border-radius: 20px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                <div style="text-align: center; color: black; font-size: 32px; font-family: Instrument Sans; font-weight: 600; word-wrap: break-word">Деревня Шустиково, Московская область</div>
            </div>
            <div style="width: 234px; height: 53px; left: 114px; top: 28px; position: absolute">
                <div style="width: 168px; height: 53px; padding: 12px; left: 0px; top: 0px; position: absolute; background: #D9E3E5; border-radius: 20px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="text-align: center; color: black; font-size: 24px; font-family: Instrument Sans; font-weight: 600; word-wrap: break-word">На главную</div>
                </div>
                <img style="width: 53px; height: 53px; left: 181px; top: 0px; position: absolute" src="https://via.placeholder.com/53x53" />
            </div>
            <div style="width: 572px; left: 775px; top: 658px; position: absolute; color: black; font-size: 20px; font-family: Instrument Sans; font-weight: 600; word-wrap: break-word">Дикие животные иногда заходят в поселок<br/>Пилорама<br/>Завод по производству добавак в колбасу<br/>Глининая почва<br/>Рядом военный аэродром “Кубинка ”<br/>Шум истребителей<br/>Каждый год горят поля, иногда задевает постройки<br/>Весной пруд выходит из берегов на 3 - 4 метра<br/>Плохие дороги<br/>Сбои с сетью<br/>Грязный пруд<br/>Нет церкви</div>
        </div>
        <img style="width: 162px; height: 162px; left: 655px; top: 116px; position: absolute; opacity: 0.60" src="https://via.placeholder.com/162x162" />
        <img style="width: 139px; height: 139px; left: 209px; top: 442px; position: absolute; opacity: 0.60" src="https://via.placeholder.com/139x139" />
        <img style="width: 113px; height: 99px; left: 1078px; top: 462px; position: absolute; opacity: 0.60" src="https://via.placeholder.com/113x99" />
        <div style="left: 112px; top: 634px; position: absolute"><span style="color: black; font-size: 20px; font-family: Instrument Sans; font-weight: 600; word-wrap: break-word"><br/></span><span style="color: black; font-size: 20px; font-family: Instrument Sans; font-weight: 600; word-wrap: break-word">Есть поля<br/>Есть леса, поля<br/>Дикие животные (лисы, ежи, олени,  лоси, кабаны)<br/>Есть 2 магазина<br/>Газ проведен<br/>Электричество есть<br/>Население до 500 чел.<br/>Можно завести хозяйство<br/>Школа, садик<br/>Площадки детские<br/>Имеется пожарная станция<br/>Ферма</span></div>
    </div>
</body>
</html>