{% extends "main1/layout.html" %}

{% block title %}Связь{% endblock %}

{% block body1 %}
<div class='hdSV'>
    <span>APL</span>
    <button><a href="/apl"> <i class="fi fi-br-home"></i> На главную страницу</a></button>
</div>
<div class='glavsv'>
    <i class="fi fi-br-envelope"></i>
    <p>Пишите нам ваши предложения.</p>
    <button><a href="mailto:sbproject132@yandex.ru?subject=Дороботки по сайту"><span>Наша почта sbproject132@yandex.ru</span></a></button>
</div>
{% endblock %}